#wrapper {
  width: 500px;
  margin: auto;
  margin-top: 20px;
}

form {
  margin-top: 2em;
  margin-bottom: 2em;
}

.form-inline > input {
  margin-right: 10px;
  min-width: 50px;
}

footer {
  margin-top: 50px;
}
